<!doctype html>
<html>
  <meta charset="utf-8" />
  <title>Product List</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css">
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.js"></script>

  <body>
  <h1 class="ui header">Product Name: {{ products.name }}</h1>
  <h2 class="ui header">Product ID: {{ products.pid }}</h2>
  <h2 class="ui header">Origin: {{ products.origin }}</h2>
  <h2 class="ui header">Description:</h2>
  <h3 class="ui header">{{ products.description }}</h3>
  <h2 class="ui header">Quantity: {{ products.quantity }}</h2>
  <h2 class="ui header">Price: {{ products.price }}</h2>

  <h1 class="ui header"></h1>
  <h2 class="ui header">
      <a href="{{ url_for('index_products') }}">Back to Product List</a>
  </h2>

  </body>